
body {
    font-family: 'bellotaitalic', Arial, sans-serif;
    color: black;

}


.navbar img {

    width: 180px;
    height: auto;

}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav li {
    font-size: 25px;

}

.jumbotron  {
height: 450px;
background-image: url("https://zupimages.net/up/20/10/9gmt.png");
background-size: cover; 
background-position: center center;
color: white;

}


form .fake{

display: none;


}

footer {

background-color: #15c5bd;
bottom: 0;
width: 100%;
text-align: center;
}


